body {
  background-color: #f2f2f2;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.fa {
  color: #bbb;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  padding-top: 20px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 17px;
}

/* Paragraph & Typographic */

.project img {
  position: relative;
  float: left;
  width:  300px;
  height: 300px;
}

.centered {
  text-align: center;
}

/* Links */
a {
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #c0392b;
  text-decoralist-style-type: none;tion: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

#s {
  padding-top: 0px;
  color: black;
}

.secondary-sponsors img {
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 200px;
  text-decoration: none;
}

.primary-sponsors img {
  width: auto;
  max-width: 400px;
  height: auto;
  text-decoration: none;
}

/* BACK TO TOP BUTTON */
.go-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  background-color: rgba(92, 92, 92, .3);
  color: rgba(239, 239, 239, .7);
  font-size: 14px;
  padding: 1em;
  display: none;
  border-radius: 4px;
  z-index: 999;
}

.go-top:hover {
  background-color: rgba(92, 92, 92, .7);
  color: rgba(239, 239, 239, .8);
}
/* ---------- */

#landing {
  position: relative;
  background: url(../img/IMG_3309.JPG) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0px 0px, center;
}

#landing:before
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.2);
}

.main-navigation {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  z-index: 5;
  margin-top: -50px;
  position: relative;
  left: -19px;
}

.main-navigation li {
  display: inline-block;
  z-index: 5;
  padding-right: 1em;
  padding-left: 1em;
}

.main-navigation li > a:hover {

  color: rgb(224, 224, 224);
}

.main-navigation li > a {
  color: black;
  text-decoration: none;
}

#organization-desc {
  padding-top: 30px;
  color: white;
}

.navbar-logo {
  padding-top: 6px;
  padding-left: 10px;
  float: left;
}

.banner img {
  height: 650px;
  padding-left: 125px;
  padding-top: 100px;
  position: absolute;
  bottom: -145px;
  opacity: .4;
}

#brand img {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;
}

#brand h1 {
  padding-bottom: 30px;
  font-weight: 700;
  color: #efefef;
}

#brand-alt img {
  width: 50%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
}

.icons .fa-facebook,.icons .fa-facebook-square{background-color:#3C599F;}
.icons .fa-flickr{background-color:#FF0084;}
.icons .fa-github,.icons .fa-github-alt,.icons .fa-github-square{background-color:#070709;}
.icons .fa-twitter,.icons .fa-twitter-square{background-color:#32CCFE;}
.icons .fa-envelope, .fa-envelope-square, .fa-envelope-o {background-color:#E54D26;}
.icons .fa-building-o, .fa-building {background-color:#C52F30;}
.icons.icon-rotate .fa:hover, .icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}
.icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icons.icon-circle .fa{
  border-radius: 50%;
  padding-bottom: 1opx;
}
.icons {
  font-size: 1.8em;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

.btn-default {
  background-color: #BB0000;
  border: 1px solid #960000;
  border-radius: 10px;
  color: white;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 250px;
}

.btn-default:hover, .btn-default:focus {
  background-color: rgb(150, 0, 0);
  color: rgb(239, 239, 239);
  border-color: rgb(131, 0, 0);
}

.btn-disabled {
  background-color: #BB0000;
  border: 1px solid #960000;
  border-radius: 10px;
  color: white;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 325px;
  opacity: 0.25;
  background-color: rgb(187, 0, 0);
  color: rgb(239, 239, 239);
  border-color: rgb(150, 0, 0);
}

#featured {
  height: 135px;
  overflow: hidden;
}

.hidden {
  display: none;
}

#navigation, #brand, #featured {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#landing {
  display: block;
  height: 512px;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

#description {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#quick-start, #meeting-time, #special-event, #officers {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

.hint--info:after {
  background-color: rgb(92, 92, 92);
  text-shadow: none;
  color: rgb(239, 239, 239);
}
.hint--info.hint--top:before {
  border-top-color: rgb(92, 92, 92); }
.hint--info.hint--bottom:before {
border-bottom-color: rgb(92, 92, 92); }
.hint--info.hint--left:before {
border-left-color: rgb(92, 92, 92); }
.hint--info.hint--right:before {
border-right-color: rgb(92, 92, 92); }
.simptip-position-top[data-tooltip]::before {
  border-top-color: rgba(92, 92, 92, .9);
}

.simptip-position-top[data-tooltip]::after {
  background-color: rgba(92, 92, 92, .9);
  color: rgb(239, 239, 239);
  border-radius: 4px;
}

.simptip-position-top::before, .simptip-position-top::after {
  bottom: 110%;
}

.heading a {
  color: inherit;
}

#summary {
  padding-bottom: 70px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  background-color: rgba(148, 148, 148, 0.1);
  color: black;
}

#summary h1 {
  color: inherit;
}

#summary h2, #summary h3 {
  text-transform: uppercase;
}

#summary .sub-heading {
  padding-top: 2em;
  padding-bottom: 2em;
}

.vimeovideowrap, .content, .youtubevideowrap, #disqus_thread, .videocontent {
  width:80%;
  max-width: 720px;
  margin: 0 auto;
}

.vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#organizers {
  padding-bottom: 140px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 70px;
  color: black;
}

#organizers h1 {
  color: inherit;
}

#organizers h2, #summary h3 {
  text-transform: uppercase;
}

#organizers .sub-heading {
  padding-top: 2em;
  padding-bottom: 2em;
}

.organizer-images img {
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 80px;
  text-decoration: none;
  text-align: center;
}

#organizers ul {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#organizers li {
  padding-top: 50px;
  list-style-type: none;
  display: inline-block;
  text-align: center;

}

.organizer-images li:first-child {
  padding-bottom: 20px;
}

#organizers .col-sm-6m ul, #organizers .col-md-6 ul, #organizers .col-lg-6 ul{
  padding: 0!important;
}

#organizers .col-sm-6m, #organizers .col-md-6, #organizers .col-lg-6{
  padding: 0!important;
}

#faqs {
  padding-top: 50px;
  color: black;
  padding-bottom: 30px;
}

#faqs h1 {
  text-transform: uppercase;
  padding-bottom: 1em;
}


#faqs p {
  text-align: justify;
}


#faqs span {
  text-align: left;
  font-size: 1.25em;
  font-weight: 700;
}

#faqs .col-sm-6, #faqs .col-md-6, #faqs .col-lg-4 {
  padding-bottom: 2em;
}

#faqs a {
  color: #666;
  font-weight: 400;
}

#faqs a:hover {
  text-decoration: underline;

}

hr {
  border-top: 1px solid #bbb;
  width: 80%;
}

#agenda {
}

#agenda h1 {
  text-transform: uppercase;
  padding-bottom: 1em;
  color: #666666;

}

#agenda p {
  text-align: justify;
}

#agenda span {
  text-align: left;39
  font-size: 1.25em;
  font-weight: 700;
}

#agenda .col-sm-6, #faqs .col-md-6, #faqs .col-lg-4 {
  padding-bottom: 2em;
}

.table-bordered {
  margin: 0 auto;
}

.navigation-container {
  width: 100%;
}

#agenda {
  color: #333;
}

#agenda tr {
  background-color: rgb(239, 239, 239);
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: .5em 2em;
}

#agenda .table-condensed>tbody>tr>td:last-child {
  text-align: left;
}

.table-condensed>thead>tr>th {
  color: #666666;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {


  border-bottom-width: inherit;
  text-align: center;
}

#footer {
  position: relative;
  background-color: #333;
  background-size: cover;
  background-position: 0 80vh, center;
  padding-top: 20px;
  padding-bottom: 0px;
}

#footer:before
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(64,64,64,0.2);
}
