body {
  background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #949494;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.fa {
  color: #bbb;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;

}



/* Paragraph & Typographic */


.centered {
    text-align: center;
}

/* Links */
a {
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}






a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}












#footer {
  position: relative;
	background-color: #333;
	background-size: cover;
  background-position: 0 80vh, center;
	padding-top: 20px;
	padding-bottom: 0px;
}






#footer:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.2);
		}





















/* ---------- */
@media (min-width: 767px) {

  .navbar-nav {
    float: none;
    text-align: center;
    position: relative;
    width: 400px;
  }

  .nav>li {
  display: inline-block;
  }

  .navbar-nav>li {
  float: none;
  }

  .nav {
    margin-left: 50%
    left: 50%;
  }


  .nav>li>a {
  padding-right: 1em;
  }

 /*

  .navbar-default .navbar-nav > li > a {
    right: -20px;
  }

  */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
  margin-left: 50%;
    position: relative;
    left: 50%;
    top: 425px;
    padding-left: 34px;
  }


  body {
    padding-top: 0px;
  }

  .navbar-default {
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index: 2;
    text-align: center;


  }

 .navbar-default .navbar-nav > li > a {
   color: #fff;
   text-transform: uppercase;
   font-family: 'Fjalla One', sans-serif;


   font-size: 1.25em;
 }

  .navbar-default .navbar-nav > li > a:hover {
    color: rgb(224, 224, 224);
  }


}
/* ---------- */













/* ---------- */

@media (max-width: 767px) {

  .navbar-default {
    background-color: #333;
  }

  .navbar-default .navbar-toggle {
    border-color: #474747;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #3d3d3d;
  }

  .navbar-default .navbar-toggle:hover {
    background-color: #474747;
  }

  .navbar-default .navbar-nav>li>a {
    color: rgb(239, 239, 239);
    text-transform: lowercase;
  }

  .navbar-default .navbar-nav>li>a:hover {
    color: rgb(194, 194, 194);
  }

  .navbar-default .navbar-toggle:focus {
    background-color: #474747;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .navbar-default {
     position: absolute;
     z-index: 2;
     width: 100%;
   }

  .navbar-nav {
    float: none;
    text-align: center;
  }

}
/* ---------- */














/* BACK TO TOP BUTTON */
.go-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	background-color: rgba(92, 92, 92, .3);
  color: rgba(239, 239, 239, .7);
	font-size: 14px;
	padding: 1em;
	display: none;
    border-radius: 4px;
    z-index: 999;
}

.go-top:hover {
	background-color: rgba(92, 92, 92, .7);
  color: rgba(239, 239, 239, .8);
}
/* ---------- */
















#landing {

    padding-top: 50px;
    position: relative;
		background: url(../img/osu/IMG_6933-12-EDITED.jpg) no-repeat;
		background-attachment: fixed;
		background-size: 110% auto;
    background-position: -101.5px 0, center

}



#landing:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.2);
		}




.triangle {
  position: relative;
  margin: 0 auto -30px auto;
  width: 0;
  height: 0;
  border-top: 30px solid rgba(64,64,64,0.2);
  border-left: 175px dotted rgba(232, 232, 232, 255);
  border-right: 175px dotted rgba(232, 232, 232, 255);
  border-bottom: 0 dotted rgba(255,255,255,0);
  line-height: 0;

  background: url(../img/osu/IMG_6933-12-EDITED.jpg) no-repeat;
	background-attachment: fixed;
	background-size: 110% auto;
  background-position: -101.5px 0, center;
}






















#organization-desc {
    padding-top: 30px;
    color: white;
}














.navbar-logo {
    padding-top: 6px;
    padding-left: 10px;
    float: left;
}




.banner img {
    height: 650px;
    padding-left: 125px;
    padding-top: 100px;
    position: absolute;
    bottom: -145px;
    opacity: .4;
}





#brand img {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 114px;
  padding-bottom: 114px;
}

#brand h1 {
  padding-bottom: 30px;
  font-weight: 700;
  color: #efefef;
}

#brand-alt img {
    width: 50%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    position: relative;
}






















.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}



.social-icons .fa-flickr{background-color:#FF0084;}


.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}


.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}

.social-icons .fa-envelope, .fa-envelope-square, .fa-envelope-o {background-color:#E54D26;}

.social-icons .fa-building-o, .fa-building {background-color:#C52F30;}


.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}


.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.social-icons.icon-circle .fa{
	border-radius: 50%;
  padding-bottom: 1opx;
}



.social-icons {
	font-size: 1.8em;
}


.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}


.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}




.btn-default {
  background-color: rgb(187, 0, 0);
  color: rgb(239, 239, 239);
  border-color: rgb(150, 0, 0);
}

.btn-default:hover, .btn-default:focus {
  background-color: rgb(150, 0, 0);
  color: rgb(239, 239, 239);
  border-color: rgb(131, 0, 0);
}

.flickr-stream div {
  float: left;
  width: auto;
  height: 135px;
}

.flickr-stream {
  position: relative;
  right: 50%;
  width: auto;
  height: 135px;
  display: inline-flex;
  z-index: -1;


}



#featured {

height: 135px;
  overflow: hidden;
}


.hidden {
  display: none;
}




#navigation, #brand, #featured {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}


#landing {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
}


#description {
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}


#quick-start, #meeting-time, #special-event, #officers {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;

  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
}



.hint--info:after {
  background-color: rgb(92, 92, 92);
  text-shadow: none;
  color: rgb(239, 239, 239);
}
.hint--info.hint--top:before {
  border-top-color: rgb(92, 92, 92); }
.hint--info.hint--bottom:before {
  border-bottom-color: rgb(92, 92, 92); }
.hint--info.hint--left:before {
  border-left-color: rgb(92, 92, 92); }
.hint--info.hint--right:before {
  border-right-color: rgb(92, 92, 92); }




.simptip-position-top[data-tooltip]::before {
  border-top-color: rgba(92, 92, 92, .9);
}

.simptip-position-top[data-tooltip]::after {
  background-color: rgba(92, 92, 92, .9);
  color: rgb(239, 239, 239);
  border-radius: 4px;
}

.simptip-position-top::before, .simptip-position-top::after {
  bottom: 110%;
}
















#summary {
  padding-bottom: 70px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 70px;
  background-color: rgba(148, 148, 148, 0.1);
  color: #333;
}

#summary h1 {
  color: inherit;
}


#summary h2, #summary h3 {
  text-transform: uppercase;
}


#summary .sub-heading {
padding-top: 2em;
padding-bottom: 2em;
}
















#facts {
    padding-top: 50px;
    padding-bottom: 30px;
}

#facts h1 {
  text-transform: uppercase;
  padding-bottom: 1em;
}


#facts p {
  text-align: justify;
}


#facts span {
  text-align: left;
  font-size: 1.25em;
  font-weight: 700;
}

#facts .col-sm-6, #facts .col-md-6, #facts .col-lg-4 {
  padding-bottom: 2em;
}










hr {
  border-top: 1px solid #bbb;
  width: 80%;
}












#agenda {
    padding-top: 50px;
    padding-bottom: 30px;
}

#agenda h1 {
  text-transform: uppercase;
  padding-bottom: 1em;

}


#agenda p {
  text-align: justify;
}


#agenda span {
  text-align: left;39
  font-size: 1.25em;
  font-weight: 700;
}

#agenda .col-sm-6, #facts .col-md-6, #facts .col-lg-4 {
  padding-bottom: 2em;
}


.table-bordered {
  margin: 0 auto;
}
